*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* html{
    font-size: 62.5%;
} */
body{
    box-sizing: border-box;
    font-family: 'Space Mono',sans-serif;
    line-height: 1.7;
    padding: 20px 24px;
    padding-right: 0;
}

.logo{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 286.83px;
    height: 220.35px;
    margin-top: 64px;
}
.content__header{
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    color: #333333;
    padding-top: 77px;
}
.content__text{
    padding-top: 30px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
}
.btn{
    display:inline-block;
    margin-top: 90px;
    padding: 23px 44px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: #333333;
}
.footer{
    margin-top: 137px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
.footer>a{
    color: #BDBDBD;
}

@media only screen and (min-width:1440px) {

    body{
        padding: 40px 77px;
        padding-right: 0;
    }
    .img{
        width: 539px;
        height:414px;
        align-self: flex-start;
        margin-top: 0;
    }
    section{
        margin-top: 200px;
        flex-direction: row;
        gap:118px;
    }
    .content__header{
        max-width: 586px;
        font-size: 64px;
        line-height: 95px;
        padding-top: 0;
    }
    .content__text{
        max-width: 381px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        padding-top: 36px;
    }
}